/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color:#F3F5FF;
    margin: 0;
    font-family: Thicccboi,sans-serif;
    color: #7a7d9c;
    font-size: 18px;
    line-height: 1.667em;
    font-weight: 500;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2{
  color: #000;
  font-weight: bolder;
}
p{
  margin-bottom: 10px;
}
/* Main css for desktops */
main{
    display:grid;
    grid-template-rows: 8vh minmax(80vh,auto) 5vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "nav nav"
    "aside section"
    "footer footer";
    width:90vw;
    margin: auto;
    margin-top:2vh;
}
/* Navigation section css for desktops */
.navigation{
    grid-area: nav;
    display:flex;
    justify-content: space-between;
}
.logo{
background-color: #7141FC;
   justify-content: space-evenly;
   flex:1;
   padding:2.5vh 1rem;
   font-size: 1.3rem;
}
.links>li>a{
    color:#ffffff;
    text-decoration: none;
}
.links>li>a:hover{
    color:#7141FC;
    border-bottom: 2px solid #7141FC;
}
.links>li>a:active{
    color:#7141FC;
}
/* Desktop css for aside tools list */
.tools-list{
    grid-area: aside;
    padding:2rem 2rem;
    color:#232933;
    background-color:#ffffff;
    border-right: 2px solid #DBDEE4;
    font-size: 1.2rem;
}
.tools>li{
    padding-bottom: 2rem;
}
.tools>li>a{
    color:#232933;
    text-decoration: none;
}
.tools>li>.active{
    color:#7141FC;
}
.tools>li>a:hover{
    color:#7141FC;
    text-decoration: none;
    border: 1px solid #DBDEE4;
    border-radius: 10%;
}
/* Desktop css for tool container */
.tool-container{
    grid-area: section;
    background-color:#ffffff;
    padding: 2rem 2rem;
}
.advert{
    height:5%;
    padding:2rem 2rem;
}

.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'input-image output-image'
    ;
    
}
@media only screen and (max-width: 900px) {
    .images {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'input-image' 'output-image'
        ;
    }
    .tool{
        padding:0rem 0rem;
    }
    #submit-img{
     display: block;
     padding: 5px;
     margin-top: 15px;
     width: 50vw;
    }
  }
.input-image{
    grid-area: input-image;
}
.img-dimensions{
    display:flex;
    margin-bottom: 5px;
}
.img-dimensions>:first-child{
    flex-basis:60%;
    margin-right: 10px;
}
.img-dimensions>:nth-child(2){
    width:30%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #7141FC;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #7141FC;
    cursor: pointer;
  }
.output-image{
    grid-area: output-image;
    
    /* display: none; */
}
.output-image-container{
    max-width: 300px;
    max-height: 300px;
    overflow: auto;
    vertical-align: middle;
}
#social-media-presets{
  display: none;
}
#resize-form{
    display: none;
}
#download-form{
    display:none;
}
.input-image>img{
    width: 100%;
}
.btn{
    margin: auto;
    margin-top:5px;
    background-color:#7141FC;
    width:auto;
    height:auto;
    padding: 5px;
    font-size:1rem;
    outline:0;
    border:1px solid #DBDEE4;
    border-radius:5%;
    color:#ffffff;
    cursor: pointer;
}
.output-image, .input-image{
  padding-right:2rem;
}
.btn-presets{
  margin-top:2px;
  height:auto;
  width: 100%;
  padding:0.5rem;
  font-size:1rem;
  outline:0;
  border:1px solid #DBDEE4;
  border-radius:5%;
  color:#ffffff;
  cursor: pointer;
}
.btn:hover{
   background-color:#fff; 
   color:#000;
   border:1px solid #7141FC;
}
/* Footer css */
footer{
   display: block;
    grid-area: footer;
    background-color:#ffffff;
    color:#000000; 
    text-align: center;
    padding-top:0.5rem;
}
.footer>a{
    color:rgb(255, 255, 255); 
    text-decoration: none;
}
.footer>a:hover{
    color:#7141FC;
}

@media screen and (max-width: 48rem) {
    main{
        display:grid;
        grid-template-rows: 10vh 10vh 83vh 5vh;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "nav nav"
        "aside aside"
        "section section"
        "footer footer";
         width:95vw;
         margin: auto;
         margin-top:2vh;
    }
  }
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
    .output-image, .input-image{
      padding-right:0rem;
  }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  .social-media-presets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
.headline{
  background: #6D43FF;
background: linear-gradient(to right, #6D43FF 0%, #F69F51 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;
font-size: 1.5rem;
}




  /* CSS code for styling the dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
  width: 32.5%;
}

.dropdown-menu {
  display: none; 
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  border-right: 1px solid #7141FC;
  z-index: 1;

}
.image-presets{
  border: none;
}
.image-presets:hover{
  border-bottom: 1px solid #7141FC;
  color: #7141FC;
}
.content:hover .dropdown-menu {
  display: block;
}
.facebook{
  background-color: #6583C1;
}
.twitter{
background-color: #75BBF1;
}
.youtube{
background-color: RED;
}
.linkedin{
background-color: #3190C4;
}
.pintrest{
background-color: #FD6833;
}
.tumblr{
background-color: #5B738A;
}


.container-f {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* /h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
} */

.form-f {
  display: inline-block;
  text-align: left;
}

.form-f label {
  display: block;
  margin-bottom: 0.5em;
}

.form-f input[type="text"],
.form-f input[type="email"],
.form-f textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
}

.form-f input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
}

.form-f input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-info {
  display: inline-block;
  vertical-align: top;
  margin-left: 2em;
}

.contact-info p {
  margin: 0.5em 0;
}

.footer-offset {
 height: 200px;
}




