name: remote ssh command
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DIGITAL_HOST }}
        username: ${{ secrets.DIGITAL_USERNAME }}
        password: ${{ secrets.DIGITAL_PASSWORD }}
        port: 22
        script_stop: true
        script: |
          cd /var/www/toolske.com/elitools
          git pull